/* Assignment 3 */
body {
    font-family: sans-serif;
}

.main {
    list-style-type: none;
    width: 400px;
    margin: 10px auto;
}

ul li {
    padding: 10px;
    margin: 15px;
    background-color: #eee;
}

ul li li {
    margin: 3px;
    padding: 5px;
    background-color: white;
}

.cs li{
    list-style-type: upper-roman;
}